{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Validations -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'validations.js') }}"></script>

    <form action="/login" method="post" onsubmit="return login_check()">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
